{% extends 'start/base.html'%}
{% load bootstrap4%}
{% block content %}
<style>
body{
        background-image:url(https://images.wallpaperscraft.com/image/fire_flame_dark_background_118191_3415x3415.jpg);
        background-color:#1B2021;
        background-size:cover;
}
#carousel-example-2{
    width:1296px;
    height:500px;
}
h1{
    font-size:45px;
    font-family: 'Merienda', cursive;
    color:white;
}
p{
    text-align:center;
    color:white;
    font-family: 'Girassol', cursive;
    font-size:25px;
}

</style>
<body>
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" >
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox" >
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" style=" width:1295px;height:500px;" src="http://cdn.desktopwallpapers4.me/wallpapers/digital-art/1920x1080/3/20848-water-vs-fire-1920x1080-digital-art-wallpaper.jpg"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
       <h1 class="h1-responsive">WELCOME</h1>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" style=" width:1295px;height:500px;" src="https://3.bp.blogspot.com/-5Dfuw3noHWo/W_lCRqD8rXI/AAAAAAAABA4/DYf27hu0AyYKKpVWprIxM1XdGu9Xfy6agCHMYCw/s1600/flowers-cherry-blossoms-sakura-light-pink-tree-glow-sweet-flower.jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">TO</h1>
        
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" style=" width:1295px;height:500px;" src="https://media.alienwarearena.com/media/sakura-tree-lava-fantasy-wallpaper-1920x1080.jpg"alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">MY-PROJECT</h1>
        
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div><br><br>
<!--/.Carousel Wrapper-->
<p>Get to see work done buy various programmers and give them a review.</p>
<p>You also get to rate them if they are to your liking </p><br><br><br>


<div class="container-fluid" >
<div class="row" style="margin-left:20px;">
{% for project in projects %}
<div class="col-md-4">
<div class="card mb-3" style="max-width: 450px;background-color:#000100;">
  <div class="row no-gutters">
  <a href="/project/{{project.id}}">
    <div class="col-md-4">
      <img style="margin-left:5px;height:170px;width:190px;"src="{{project.picture.url}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="margin-left:5px;">
        <h5 class="card-title" style="font-size:25px;color:silver;">{{project.name}}</h5>
        <p class="card-text" style="font-size:20px;color:gray;">{{project.details}}</p>
        <a  href="{% url 'review' project.id %}" class="btn btn-success">Review</a>
        <a  href="{% url 'rate' project.id%}" class="btn btn-danger">Rate</a>
        <a style="margin:10px" href="{% url 'viewInfo' %}" class="btn btn-primary">ViewInfo</a>
        <p class="card-text"style="color:grey;"><small class="text-muted">Creator:{{project.createdby}}</small><i> on</i> {{project.date_created}}</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
</body>

{% endblock %}