{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<style>

h3{
    font-size:40px;
    
}
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if user.profile.profile_pic %}
                <img style="background-color: transparent;border-radius:50%;" src=" {{user.profile.profile_pic.url}} " alt="dp" width="300px" height="300px">
            {% else %}
                <img src="" alt="dp">
            {% endif %}
        </div>
        <div class="col-md-6">
           <h3>Username: {{user.username}} </h3>
           {% if user.profile.bio %}
             <h5><b>Bio:</b> {{user.profile.bio}}</h5>
           {% else %}
                <p>You have no bio yet</p>

            {% endif %}
            
            <a href="{% url 'updateprofile'%}" class="btn btn-danger"  name="Update" >Update</a>
        </div>
    </div><br><br>
    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% if my_posts %}
                {% for post in my_posts %}
                <div class="card">
                    <img height="450px" width="400px" src=" {{post.picture.url}} " alt="post_pic">
                    
                </div>
                {% endfor %}
                {% else %}
                    <p>No posts yet</p>
                    {% endif %}
            </div>
            <div class="col-md-2"></div>

    </div>
</div>
</body>
{% endblock %}