{% extends 'start/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<style>
body{
        background-image:url(https://i.pinimg.com/originals/ef/9d/80/ef9d809db861751238f3b8790d4594d2.jpg);
        background-color:#1B2021;
        background-size:cover;
        color:white;
}
</style>
<body>
<div class="container">
    <h1 style="margin-top: 100px;font-size:30px"> Click to Edit your profile {{current_user}}</h1>
    <div class="container" style="margin-top :30px">
        <div class="edit">
            <form action="{% url 'updateprofile'%}" method = "POST" enctype="multipart/form-data">
                {% csrf_token%}
               {% bootstrap_form form1%}
               {% bootstrap_form form %}
                
                <input type="submit" class="btn btn-primary" >
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}