{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
body{
        background-image:url(https://www.itl.cat/pngfile/big/229-2294273_high-resolution-water-droplet.jpg);
        background-color:#1B2021;
        background-size:cover;
        color:white;
}
h2{
    position:absolute;
    top:10%;
    left:20%;
    font-size:40px;
    color:black;
    font-family: 'Girassol', cursive;
    text-align:center;
}
a{
    position:absolute;
    top:20%;
    left:30%;
}
</style>
<body>
<h2>You have logged out of your account</h2>

<div class="pro">
    <small class="text-muted">
        <a class="btn btn-primary" href="/accounts/login">Log in</a>
    </small>
</div>
</body>
{% endblock %}