{% extends 'registration/base.html' %}
{% block content %}
body{
        background-image:url(https://www.thoughtco.com/thmb/InhniGZMoA2LyleI821OzfANmmQ=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-173404960-56a1348f5f9b58b7d0bd03bd.jpg);
        background-color:#1B2021;
        background-size:cover;
        color:white;
    }
h2{
    font-size:40px;
    color:silver;
    font-family: 'Girassol', cursive;
    text-align:center;
}
<body>
<h2>You have logged out of your account</h2>

<div class="pro">
    <small class="text-muted">
        <a class="btn btn-primary" href="/accounts/login">Log in</a>
    </small>
</div>
</body>